* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.courses {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #6c757d;
  margin-top: 15px;
  align-items: center;
}

.form-content {
  width: 500px;
}

.form-content-input {
  width: 500px;
}

.hours {
  width: 100px;
}
